---
layout: default
---

<div class="post">

   {% if page.profile %}
    <div class="profile float-left-top">
      {% if page.profile.image %}
        <img class="img-fluid z-depth-1" alt="profile picture of Isaac Buitrago"
             width="" height="" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}"/>
      {% endif %}
    </div>
    {% endif %}


  <article class="bio">
    <header class="post-header">
      <h1 class="post-title">
       {% if site.title == blank %}{{ site.title }}{% else %}<span>{{ site.first_name }}</span> {{ site.middle_name }}  {{ site.last_name }}{% endif %}
      </h1>
       <p class="desc">{{ page.description }}</p>
    </header>

    <div class="clearfix">
      {{ content }}
    </div>

    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if page.social %}
    <div id="social" class="social">
      <h2> Contact me </h2>
      {% include social.html %}
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

</div>
